$content-width: 800px;
$main: #66FF66;
$font-style: 'Open Sans', sans-serif;
$font-color: #66ff66;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #000000;
$footer: #66ff66;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 

