$content-width: 800px;
$main: #66FF66;
$font-style: 'Open Sans', sans-serif;
$font-color: #66ff66;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #000000;
$footer: #66ff66;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
$hi_base03:    #002b36; 
$hi_base02:    #073642; 
$hi_base01:    #586e75; 
$hi_base00:    #657b83; 
$hi_base0:     #839496; 
$hi_base1:     #93a1a1; 
$hi_base2:     #eee8d5; 
$hi_base3:     #fdf6e3; 
$hi_yellow:    #b58900; 
$hi_orange:    #cb4b16; 
$hi_red:       #dc322f; 
$hi_magenta:   #d33682; 
$hi_violet:    #6c71c4; 
$hi_blue:      #268bd2; 
$hi_cyan:      #2aa198; 
$hi_green:     #859900; 
